<article class="article content gallery" itemscope itemprop="blogPost">
    <h1 class="article-title is-size-3 is-size-4-mobile" itemprop="name">
        <% if (index) { %>
            <a href="<%- url_for(post.link ? post.link : post.path) %>" itemprop="url"><%= post.title %></a>
        <% } else { %>
            <%= post.title %>
        <% } %>
    </h1>
    <div class="article-meta columns is-variable is-1 is-multiline is-mobile is-size-7-mobile">
        <% if (post.categories && post.categories.length){ %>
            <span class="column is-narrow article-category">
                <i class="far fa-folder"></i>
                <%- (post._categories || post.categories).map(category =>
                    `<a class="article-item" href="${url_for(category.path)}">${category.name}</a>`)
                    .join('<span>></span>') %>
            </span>
            <span class="column is-narrow">｜</span>
        <% } %>
        <span class="column is-narrow">
            <i class="far fa-clock"></i>
            <span class="article-item">
                <% if (has_config('article.date_format') && get_config('article.date_format') === 'relative' ) { %>
                    <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= format_date_full(post.date) %></time>
                <% } else if (has_config('article.date_format') && get_config('article.date_format') === 'full' && !post.hideDate ) { %>
                    <span><%= format_date_full(post.date) %></span>
                <% } else if (has_config('article.date_format') && get_config('article.date_format') === 'relative_full' ) { %>
                    <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= format_date_full(post.date) %></time>
                    <span class="second-date-block"> (<%= format_date_full(post.date) %>)</span>
                <% } else if (has_config('article.date_format') && get_config('article.date_format') === 'full_relative' ) { %>
                    <span><%= format_date_full(post.date) %></span>
                    <span class="second-date-block"> (<time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= format_date_full(post.date) %></time>)</span>
                <% } else { %>
                <% } %>
            </span>
        </span>

        <% if (post.updated_at) { %>
            <span class="column is-narrow">｜</span>
            <span class="column is-narrow">
                <i class="fas fa-sync-alt"></i>
                <span class="article-item">
                    <%= format_date_full(post.updated_at) %>
                </span>
            </span>
        <% } %>
    </div>
    <div class="article-entry is-size-6-mobile" itemprop="articleBody">
    <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= __('article.read_more') %></a>
        </p>
    <% } else if (page.permalink.includes('/about/') || page.permalink.includes('/404')) { %>
        <%- post.content %>
    <% } else { %>
        <%- post.excerpt %>
        <!-- <div class="ad-wrap">
            <small class="ad-label">廣告</small>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9074862371923542"
                crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                style="display:block; width:100%;"
                data-ad-client="ca-pub-9074862371923542"
                data-ad-slot="8939590248"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div> -->
        <%- post.more %>
        <!-- <div class="ad-wrap">
            <small class="ad-label">廣告</small>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9074862371923542"
                crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                style="display:block; width:100%;"
                data-ad-client="ca-pub-9074862371923542"
                data-ad-slot="8939590248"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div> -->
    <% } %>
    </div>
    <% if (!index && get_config('comments') && has_config('comment.type') && !page.permalink.includes('/about/')) { %>
        <div>
            <script type="text/javascript">
                document.write(
                "<iframe scrolling='no' frameborder='0' sandbox='allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox allow-storage-access-by-user-activation' style='height: 212px; width: 100%;' src='https://button.like.co/in/embed/claire060900874511/button?referrer=" +
                encodeURIComponent(location.href.split("?")[0].split("#")[0]) + "'></iframe>");
            </script>
        <div>
    <% } %>
    
    <% if (!index && has_config('share.type') && !post.hideShare) { %>
    <div class="sharebox">
        <%- partial('share/' + get_config('share.type')) %>
    </div>
    <% } %>
    <% if (!index && post.tags && post.tags.length){ %>
    <div class="columns is-variable is-1 is-multiline is-mobile">
    <% (post._tags || post.tags).forEach(tag => { %>
        <span class="column is-narrow"><a class="tag is-light article-tag" href="<%- url_for(tag.path) %>">#<%= tag.name %></a></span>
    <% }) %>
    </div>
    <% } %>
    <% if (!index && (post.prev || post.next)) { %>
    <div class="columns is-mobile is-multiline article-nav">
        <span class="column is-12-mobile is-half-desktop <%= !post.prev ? 'is-hidden-mobile' : '' %> article-nav-prev">
            <% if (post.next){ %>
            <a href="<%- url_for(post.next.path) %>"><%= post.next.title %></a>
            <% } %>
        </span>
        <span class="column is-12-mobile is-half-desktop <%= !post.next ? 'is-hidden-mobile' : '' %> article-nav-next">
            <% if (post.prev){ %>
            <a href="<%- url_for(post.prev.path) %>"><%= post.prev.title %></a>
            <% } %>
        </span>
    </div>
    <% } %>
</article>

<% if (!index && get_config('comments') && has_config('comment.type')) { %>
<div class="comments">
    <h3 class="title is-4"><%= __('article.comments') %></h3>
    <!-- <%- partial('comment/' + get_config('comment.type')) %> -->
    <style>
        .utterances{max-width: 100%;}
    </style>
    <script src="https://utteranc.es/client.js"
        repo="clairechang0609/hexo-board"
        issue-term="title"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
</div>
    <% if (!page.permalink.includes('/about/')) { %>
        <div class="ad-wrap">
            <small class="ad-label">廣告</small>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9074862371923542"
                crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                style="display:block; width:100%;"
                data-ad-client="ca-pub-9074862371923542"
                data-ad-slot="8939590248"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    <% } %>
<% } %>